{% extends 'common/base.html' %}
{% block index %}

  <body class="text-center">
<!-- Bootstrap core CSS -->
<link href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{url_for('static',filename='assets/dist/css/logIn.css')}}" rel="stylesheet">
    
<main class="form-login">
  <form method="POST">
    
    <img class="mb-4" src="https://image.flaticon.com/icons/png/512/16/16235.png" alt="" width="72" height="57">
    
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Username</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <p>{{error}}</p>
    
    <button id="btnCancel" class="btn btn-danger btn-md center-block" type="submit">Cancel</button>
    <button id="btnLogIn" class="btn btn-primary btn-md center-block" type="submit">Log in</button>
    
    <div class="clearfix"></div>
    
    <a href='register'>Create your account</a>
  </form>
</main>


    
  </body>

{% endblock %}