{% extends 'common/base.html' %}

{% block title %}
<title>Register- Just in Time</title>
{% endblock %}

{% block index %}

  <body class="text-center">
        <!-- Bootstrap core CSS -->
<link href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='assets/dist/css/signUp.css')}}" rel="stylesheet">
<main class="form-signup">
  <form>
    <img class="mb-4" src="https://image.flaticon.com/icons/png/512/16/16235.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="fullname" placeholder="name@example.com">
      <label for="fullname">Full Name</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="name@example.com">
      <label for="username">Username</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="email">Email</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Password</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="passconfirm" placeholder="Password">
      <label for="passconfirm">Confirm Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="Validacion-robot"> I'm not a robot
      </label>
    </div>
    
    <button id="btnCancel" class="btn btn-danger btn-md center-block" type="submit">Cancel</button>
    <button id="btnSumbit" class="btn btn-primary btn-md center-block" type="submit">Confirm</button>
    
    <div class="clearfix"></div>
    
    <a href='/'>I already have an account</a>

    <footer class="mt-5 mb-3 text-muted">&copy; JustInTime @INC</footer>

  </form>
</main>


    
  </body>

{% endblock %}