{% extends 'common/base.html' %}

{% block title %}
<title>Home -Just in Time</title>
{% endblock %}

{% block navbarbtns %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('justintime.home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">User</a>
          </li>
          <li class="nav-item">
              <form method="get" id="frmplay">
              <button id="btnplay" class="btn btn-success btn-md center-block" type="submit" formaction="{{url_for('justintime.rules')}}">Jugar</button>
            </form>
          </li>
          <li class="nav-item">
            <form method="get" id="logoutfrm">
              <button id="btnLogOut" class="btn btn-danger btn-md center-block" type="submit" formaction="{{url_for('justintime.logout')}}">Cerrar Sesion</button>
            </form>
          </li>
{% endblock %}


{% block index %}

<body>
<style>
    #top10 th{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 10px;
        text-align: left;
        background-color: gold;
        color: black;
        text-align: center;
    }

    #top10 td{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(255, 243, 175);
        color: black;
        text-align: center;
    }

    #top10 table{
        padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: .3125rem;
  color: rgba(0, 0, 0, .65);
  text-decoration: none;
    }


</style>


<h1>Bienvenido {{user.username}}</h1>

<div id="top10">
        <table>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Score</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
</div>

</body>
{% endblock %}

