{% extends 'register.html' %}

{% block head %}
    <h1>Registrar Usuario</h1>

{% endblock %}

{% block userpanel %}
<div class='content'>
    <form action="/" method="POST">
        <table>
            <tr>
                <td>Nickname:</td>
                <td><input type="text" name="Nick"></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="password" name="Password"></td>
            </tr>
            <tr>
                <td>Confirmar Contraseña:</td>
                <td><input type="password" name="Passconfirm"></td>
            </tr>
            <tr>
                <td>Nombre y Apellido:</td>
                <td><input type="text" name="full"></td>
            </tr>
            <tr>
                <td>Correo electrinico:</td>
                <td><input type="text" name="mail"></td>
            </tr>
            <tr>
                <td><colspan="2" align="center"> <INPUT TYPE="SUBMIT" name="Submit" value="Registrar usuario"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}