{% extends 'common/base.html' %}

{% block title %}
<title>Game -Just in Time</title>
{% endblock %}

{% block navbarbtns %}
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('justintime.home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ _('Salir del juego') }}</a>
          </li>
        </ul>
          <li class="nav-item">
            <form method="get" id="logoutfrm">
              <button id="btnLogOut" class="btn btn-danger btn-md center-block" type="submit" formaction="{{url_for('justintime.logout')}}">{{ _('Cerrar Sesión') }}</button>
            </form>
          </li>
{% endblock %}

{% block index %}
<div class="container-fluid p-5 bg-primary text-white text-center" id="ctrPregunta">
  <h1>{{ pregunta+" ?"}}</h1>
  <p id="resultado">{{ _('Pregunta fácil') }}</p>
    <h2 id="countdown"></h2>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="col">
                <button id="opc1" name="opc1" class="btn btn-primary btn-block" type="button" style="width:100%; height:120px; font-size: 16px;" onclick="verificar(this.innerHTML)">Opcion 1</button>
            </div>
            <br>
            <div class="col">
                <button id="opc2" name="opc2" class="btn btn-primary btn-block" style="width:100%; height:120px; font-size: 16px;" onclick="verificar(this.innerHTML)">Opcion 2</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col">
                <button id="opc3" name="opc3" class="btn btn-primary btn-block" style="width:100%; height:120px; font-size: 16px;" onclick="verificar(this.innerHTML)">Opcion 3</button>
            </div>
            <br>
            <div class="col">
                <button id="opc4" name="opc4" class="btn btn-primary btn-block" style="width:100%; height:120px; font-size: 16px;" onclick="verificar(this.innerHTML)">Opcion 4</button>
            </div>
    </div>
    </div>
</div>



<script>

var elementos=["opc1","opc2","opc3","opc4"];
elementos.sort(function(a, b){return 0.5 - Math.random()});

    document.getElementById(elementos[0]).innerHTML = '{{ correcta }}';
    document.getElementById(elementos[1]).innerHTML = '{{ incorrecta[0] }}';
    document.getElementById(elementos[2]).innerHTML = '{{ incorrecta[1] }}';
    document.getElementById(elementos[3]).innerHTML = '{{ incorrecta[2] }}';

    function verificar(respuesta){
        document.getElementById(elementos[1]).style.backgroundColor="red";
        document.getElementById(elementos[2]).style.backgroundColor="red";
        document.getElementById(elementos[3]).style.backgroundColor="red";

        if (respuesta=='{{ correcta }}')
        {
            document.getElementById(elementos[0]).style.backgroundColor="green";
            document.getElementById("resultado").innerHTML = "Respuesta Correcta!!!";

        }
        else
        {
            document.getElementById(elementos[0]).style.backgroundColor="yellow";
            document.getElementById("resultado").innerHTML = "Respuesta Inorrecta!!!";
        }
        return;


    }

    var countdowndate=new Date().getTime()+20000;//agregar 20 segundos

    //devuelve el tiempo restante cada segundo
    var x = setInterval(function() {
        var now=new Date().getTime();
        var distance= countdowndate-now;

        //calcula
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // muestra el resultado en "countdown"
        document.getElementById("countdown").innerHTML = seconds + "s ";

        //frena si ya se llego a cero
        if (seconds <= 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "0s";
            document.getElementById("ctrPregunta").className="container-fluid p-5 text-white text-center";
            document.getElementById("ctrPregunta").style.backgroundColor="red";
            }
        }, 1000);


</script>
{% endblock %}