{% extends 'common/base.html' %}

{% block title %}
<title>Rules -Just in Time</title>
{% endblock %}

{% block navbarbtns %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('justintime.home')}}">Home</a>
          </li>
          <li> <p> ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo </p></li>
          <li class="nav-item">
            <form method="get" id="logoutfrm">
              <button id="btnLogOut" class="btn btn-danger btn-md center-block" type="submit" formaction="{{url_for('justintime.logout')}}">{{ _('Cerrar Sesión') }}</button>
            </form>
          </li>
  </ul>
{% endblock %}

{% block index %}
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>{{ _('Reglamento') }}</h1>
  <p>{{ _('Aquí puedes leer como es la modalidad del juego') }}</p>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{ _('Preguntas fáciles') }}</h3>
      <p>{{ _('Se ofrecerán 4 opciones, de las cuales solamente una será correcta') }}</p>
      <p>{{ _('Tendrás 20 segundos para elegir tu respuesta') }}</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ _('Preguntas medias') }}</h3>
      <p>{{ _('Se ofrecerán 8 opciones, de las cuales solamente una será correcta') }}</p>
      <p>{{ _('Tendrás 20 segundos para elegir tu respuesta') }}</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ _('Preguntas difíciles') }}</h3>
      <p>{{ _('Se ofrecerán 8 opciones, de las cuales solamente una será correcta') }}</p>
      <p>{{ _('Tendrás 10 segundos para elegir tu respuesta') }}</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ _('Preguntas extremas') }}</h3>
      <p>{{ _('No se ofrecerán opciones, deberás ingresar tu respuesta usando el teclado') }}</p>
      <p>{{ _('Tendrás 20 segundos para ingresar tu respuesta') }}</p>
      <p>{{ _('Si se te acaba el tiempo se revisara la respuesta ingresada hasta ese momento') }}</p>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form method="post" id="frmstart">
        <button id="btnstart" class="btn btn-primary btn-md center-block" type="submit" formaction="{{url_for('justintime.questions')}}" style="width:25%; height:60px;">{{ _('Jugar') }}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}