{% extends 'common/base.html' %}

{% block title %}
<title>Game -Just in Time</title>
{% endblock %}

{% block navbarbtns %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('justintime.home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Salir del juego</a>
          </li>
          <li class="nav-item">
            <form method="get" id="logoutfrm">
              <button id="btnLogOut" class="btn btn-danger btn-md center-block" type="submit" formaction="{{url_for('justintime.logout')}}">Cerrar Sesion</button>
            </form>
          </li>
{% endblock %}

{% block index %}
<div class="container-fluid p-5 bg-primary text-white text-center" id="ctrPregunta">
  <h1>Pregunta</h1>
  <p>Pregunta extrema</p>
    <h2 id="countdown"></h2>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-sm-5">
            <div class="col">
                <div class="container-fluid">
                    <br>
                    <br>
                    <label for="opc1">Ingresa tu respuesta</label>
                    <input id="opc1" type="text" class="floatingInput">
                    <br>
                    <br>
                    <button class="btn btn-primary btn-block" type="button" style="width:50%; height:60px; font-size: 16px;">Responder</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var countdowndate=new Date().getTime()+20000;//agregar 20 segundos

    //devuelve el tiempo restante cada segundo
    var x = setInterval(function() {
        var now=new Date().getTime();
        var distance= countdowndate-now;

        //calcula
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // muestra el resultado en "countdown"
        document.getElementById("countdown").innerHTML = seconds + "s ";

        //frena si ya se llego a cero
        if (seconds <= 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "0s";
            document.getElementById("ctrPregunta").className="container-fluid p-5 text-white text-center";
            document.getElementById("ctrPregunta").style.backgroundColor="red";
            }
        }, 1000);
</script>
{% endblock %}