{% extends 'common/base.html' %}

{% block title %}
<title>Register- Just in Time</title>
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block index %}

  <body class="text-center">
        <!-- Bootstrap core CSS -->
<link href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='assets/dist/css/signUp.css')}}" rel="stylesheet">
<main class="form-signup">
  <form method="post">
    <img class="mb-4" src="https://image.flaticon.com/icons/png/512/16/16235.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">{{ _('Registrarse') }}</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="name" name="name" placeholder="Guido" required value="{{lastdata.nombre}}">
      <label for="name">{{ _('Nombre') }}</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Van Rosum" required value="{{lastdata.apellido}}">
      <label for="lastname">{{ _('Apellido') }}</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="name123" required value="{{lastdata.username}}">
      <label for="username">{{ _('Nombre de usuario') }}</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required value="{{lastdata.email}}">
      <label for="email">Email</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">{{ _('Contraseña') }}</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="passconfirm" name="passconfirm" placeholder="Password">
      <label for="passconfirm">{{ _('Confirmar contraseña') }}</label>
    </div>


    <p style="color:red">{{ error }}</p>
    <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
    <button id="btnCancel" class="btn btn-danger btn-md center-block" type="submit">{{ _('Cancelar') }}</button>
    <button id="btnSumbit" class="btn btn-primary btn-md center-block" type="submit">{{ _('Confirmar') }}</button>
    
    <div class="clearfix"></div>
    
    <a href='{{url_for("justintime.login")}}'>{{ _('Ya tengo una cuenta') }}</a>

    <footer class="mt-5 mb-3 text-muted">&copy; JustInTime @INC</footer>

  </form>
</main>


    
  </body>

{% endblock %}