{% extends 'common/base.html' %}

{% block title %}
    <title>Features -Just in Time</title>
{% endblock %}

{% block navbarbtns %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('justintime.home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ _('Usuario') }}</a>
          </li>
          <li class="nav-item">
              <form method="get" id="frmplay">
              <button id="btnplay" class="btn btn-success btn-md center-block" type="submit" formaction="{{url_for('justintime.rules')}}">{{ _('Jugar') }}</button>
            </form>
          </li>
</ul>
          <li class="nav-item">
            <form method="get" id="logoutfrm">
              <button id="btnLogOut" class="btn btn-danger btn-md center-block" type="submit" formaction="{{url_for('justintime.logout')}}">{{ _('Cerrar Sesión') }}</button>
            </form>
          </li>
{% endblock %}


{% block index %}
<body>

    <div class="container-fluid p-5 bg-primary text-white text-center" id="ctrHerramientas">
        <h1>{{ _('Bienvenido jugador') }}</h1>
        <p>{{ _('Aqui se encuentran algunas características que podrían ser de tu agrado') }}</p>
          <h2 id="countdown"></h2>
      </div>

    <div class="container mt-5">

        <div class="col-sm-6 offset-md-3">
            <div class="row">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="https://image.freepik.com/vector-gratis/ilustracion-grupo-personas-hablando_52683-30141.jpg">

                        <div class="card-body">
                        <p class="card-text">{{ _('Te gusta presumir que hablas otros idiomas? Seguro por que no! con la opcion idioma hallada en el menu principal podras cubrir esa necesidad, y si no sabias tanto como pensabas siempre puedes volver al confiable español') }}</p>
                        </div>
                    </div>

            </div>
        </div>
        <div class="col-sm-6 offset-md-3">
            <div class="row">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="https://image.freepik.com/vector-gratis/chicos-jovenes-premio-estrella_74855-6139.jpg">

                    <div class="card-body">
                    <p class="card-text">{{ _('En Home se encuentran las mayores puntuaciones hechas por la comunidad, y las tuyas también, diviértete y alcanza la gloria') }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



</body>
{% endblock %}