{% extends 'base.html' %}

{% block head %}
<h1>HomePage</h1>
{% endblock %}

{% block body %}
<em>Body</em>
{% endblock %}

{% block userpanel %}
<div class='content'>
    <h1>UserTable</h1>

    <table border="5">
        <tr>
            <th>nickname</th>
            <th>fullname</th>
            <th>register date</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Upadate</a>
            </td>
        </tr>
    </table>

    <form action="/" method="POST">
        <table>
            <tr>
                <td>Nickname:</td>
                <td><input type="text" name="Nick"></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="password" name="Password"></td>
            </tr>
            <tr>
                <td>Confirmar Contraseña:</td>
                <td><input type="password" name="Passconfirm"></td>
            </tr>
            <tr>
                <td>Nombre y Apellido:</td>
                <td><input type="text" name="full"></td>
            </tr>
            <tr>
                <td>Correo electrinico:</td>
                <td><input type="text" name="mail"></td>
            </tr>
            <tr>
                <td><colspan="2" align="center"> <INPUT TYPE="SUBMIT" name="Submit" value="Registrar usuario"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}

